<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}

<body>
  {% include navbar.html %} {% include header.html %}
    {{ content }} 
  {% include footer.html %}
  <!-- Bootstrap core JavaScript -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script type="text/javascript">
    var cb = function() {
    var l = document.createElement('link'); l.rel = 'stylesheet';
    l.href = '/assets/code-atom.github.io_app_min.css';
    var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>
  <script src="/assets/main.js"></script>
</body>

</html>
