---
layout: default_extended
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {{ content }}
  </div>
</article>


<div class="clearfix">
    {% if page.previous.url %} 
            <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}" class="pagination-item older">&laquo; {{page.previous.title | truncate: 160 | escape}}</a>
    {% endif %} 
    {% if page.next.url %} 
           <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}" class="pagination-item newer">{{page.next.title | truncate: 37 | escape}} &raquo; </a> 
    {% endif %} 
</div> 